---
- name: Tareas por bloques
  block:
    - name: Ejecutar plantilla Snapshot Windows
      uri:
        url: "{{ tower_base_url }}/api/v2/teams/"
        method: GET
        headers:
          Authorization: "Bearer {{ tower_token }}"
          Content-Type: "application/json"
        status_code: [200, 201, 204, 400]
        return_content: true
        validate_certs: false
        force_basic_auth: true
        body_format: json
      register: api_response

    - name: Extraer datos de los Teams
      set_fact:
        teams_list: "{{ api_response.json.results | json_query('[].{id: id, name: name}') }}"

    - name: Mostrar lista de Team
      debug:
        msg: "ID: {{ item.id }}, Nombre: {{ item.name }}"
      loop: "{{ teams_list }}"

    - name: Extraer solo ID y nombre de los teams
      set_fact:
        teams_list: |
          {% set teams = [] %}
          {% for team in api_response.json.results %}
          {% set _ = teams.append({
            'id': team.id,
            'name': team.name
          }) %}
          {% endfor %}
          {{ teams }}

    - name: Mostrar teams (formato simple)
      debug:
        msg: |
          {% for team in teams_list %}
          ID: {{ team.id }} - Nombre: {{ team.name }}
          {% endfor %}

    - name: Crear reporte CSV
      set_fact:
        teams_csv: |
          ID,NAME
          {% for team in teams_list %}
          {{ team.id }},{{ team.name }}
          {% endfor %}

    - name: Mostrar CSV
      debug:
        msg: "{{ teams_csv }}"