---
- block:
    - name: Ejecutar API ASB
      uri:
        url: "{{ tower_base_url }}/api/v2/teams/"
        method: GET
        headers:
          Authorization: "Bearer {{ tower_token }}"
          Content-Type: "application/json"
        status_code: [200, 201, 204, 400]
        return_content: true
        validate_certs: false
        force_basic_auth: true
        body_format: json
      register: api_response

    - name: Filtrar teams con selectattr
      set_fact:
        teams_list: "{{ api_response.json.results | selectattr('name', 'match', '^bvm_') | list }}"
    
    - name: Extraer solo id y name
      set_fact:
        teams_simple: |
          ID,NAME,URL
          {% set teams = [] %}
          {% for team in teams_list %}
          {% set _ = teams.append({'id': team.id, 'name': team.name, 'url': url}) %}
          {% endfor %}
          {{ teams }}

    - name: Enviar CSV a Artifacts
      set_stats:
        data:
          artifact_api: "{{ teams_simple | trim }}"
        aggregate: false