---
- block:
    - name: Ejecutar plantilla Snapshot Windows
      uri:
        url: "{{ tower_base_url }}/api/v2/teams/"
        method: GET
        headers:
          Authorization: "Bearer {{ tower_token }}"
          Content-Type: "application/json"
        status_code: [200, 201, 204, 400]
        return_content: true
        validate_certs: false
        force_basic_auth: true
        body_format: json
      register: api_response

    - name: Extraer datos de los Teams
      set_fact:
        teams_list: "{{ api_response.json.results | json_query(\"[?starts_with(name, 'bvm_')].{id: id, name: name, url: url}\") }}"

    - name: Crear reporte CSV
      set_fact:
        teams_csv: |
          ID,NAME,URL
          {% for team in teams_list %}
          {{ team.id | trim }},{{ team.name | trim }},{{ team.url | trim }}
          {% endfor %}

    - name: Mostrar CSV
      debug:
        msg: "{{ teams_csv | trim }}"

    - name: Enviar CSV a Artifacts
      set_stats:
        data:
          artifact_api: "{{ teams_csv | trim }}"
        aggregate: false